<app-spinner *ngIf="loadingPlayer"></app-spinner>

<div *ngIf="!loadingPlayer">

  <div class="component-name">
    {{ player?.firstName + ' ' + player?.lastName }}
  </div>

  <mat-divider></mat-divider>

  <mat-tab-group *ngIf="player && playerMatches && allSeasons">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">bar_chart</mat-icon>
      </ng-template>
      <app-player-stats [player]="player" [playerMatches]="playerMatches" [allSeasons]="allSeasons"></app-player-stats>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">sports_tennis</mat-icon>
      </ng-template>
      <app-player-details [player]="player" [playerMatches]="playerMatches" [allSeasons]="allSeasons">
      </app-player-details>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">emoji_events</mat-icon>
      </ng-template>
      <app-achievements [player]="player"></app-achievements>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">contact_phone</mat-icon>
      </ng-template>
      <app-player-contact [player]="player"></app-player-contact>
    </mat-tab>

  </mat-tab-group>
</div>