

<div class="row" style="margin-top: 16px">
  <div class="col-xs-4" style="font-size: 10px; text-align: center">
    <img [src]="firstRow" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('firstRow')"/>
    <div class="desc" style="margin-top: 8px">1. red</div>
  </div>
  <div class="col-xs-4" style="font-size: 10px; text-align: center">
    <img [src]="secondRow" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('secondRow')"/>
    <div class="desc" style="margin-top: 8px">2. red</div>
  </div>
  <div class="col-xs-4" style="font-size: 10px; text-align: center">
    <img [src]="thirdRow" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('thirdRow')"/>
    <div class="desc" style="margin-top: 8px">3. red</div>
  </div>
</div>


<div class="row" style="margin-top: 16px">
  <div class="col-xs-4" style="font-size: 10px; text-align: center">
    <img [src]="tenWins" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('tenWins')"/>
    <div class="desc" style="margin-top: 8px">10 pobjeda</div>
  </div>
  <div class="col-xs-4" style="font-size: 10px; text-align: center">
    <img [src]="twentyWins" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('twentyWins')"/>
    <div class="desc" style="margin-top: 8px">20 pobjeda</div>
  </div>
  <div class="col-xs-4" style="font-size: 10px; text-align: center">
    <img [src]="fiftyWins" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('fiftyWins')"/>
    <div class="desc" style="margin-top: 8px">50 pobjeda</div>
  </div>
</div>


<div class="row" style="margin-top: 16px">
  <div class="col-xs-4" style="font-size: 10px; text-align: center">
    <img [src]="masters" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('masters')"/>
    <div class="desc" style="margin-top: 8px">Masters</div>
  </div>
  <div class="col-xs-4" style="font-size: 10px; text-align: center">
    <img [src]="fiftyPlayed" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('fiftyPlayed')"/>
    <div class="desc" style="margin-top: 8px">5 pobjeda u nizu</div>
  </div>
</div>
