<div>
  <div class="row" style="margin-top: 16px">
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="firstRow" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('firstRow')" />
      <div class="desc" style="margin-top: 8px">1. red</div>
    </div>
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="secondRow" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('secondRow')" />
      <div class="desc" style="margin-top: 8px">2. red</div>
    </div>
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="thirdRow" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('thirdRow')" />
      <div class="desc" style="margin-top: 8px">3. red</div>
    </div>
  </div>


  <div class="row" style="margin-top: 16px">
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="tenWins" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('tenWins')" />
      <div class="desc" style="margin-top: 8px">10 pobjeda</div>
    </div>
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="twentyWins" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('twentyWins')" />
      <div class="desc" style="margin-top: 8px">20 pobjeda</div>
    </div>
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="fiftyWins" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('fiftyWins')" />
      <div class="desc" style="margin-top: 8px">50 pobjeda</div>
    </div>
  </div>


  <div class="row" style="margin-top: 16px">
    
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="threeStreak" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('threeStreak')" />
      <div class="desc" style="margin-top: 8px">3 pobjede u nizu</div>
    </div>
    
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="fiveStreak" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('fiveStreak')" />
      <div class="desc" style="margin-top: 8px">5 pobjeda u nizu</div>
    </div>

    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="tenStreak" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('tenStreak')" />
      <div class="desc" style="margin-top: 8px">10 pobjeda u nizu</div>
    </div>
  </div>

  <div class="row" style="margin-top: 16px">
    
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="twoBagelsWin" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('twoBagelsWin')" />
      <div class="desc" style="margin-top: 8px">Pobjeda 6:0 6:0</div>
    </div>
    
    <div class="col-xs-4" style="font-size: 10px; text-align: center">
      <img [src]="sevenSixWin" style="height: 60px; width: 60px;" [ngStyle]="isAchieved('sevenSixWin')" />
      <div class="desc" style="margin-top: 8px">Pobjeda 7:6 7:6</div>
    </div>
  </div>
  
</div>