<div class="component-name">
    Dodavanje novog igrača
</div>

<mat-divider></mat-divider>

<form [formGroup]="playerFormGroup">
    <section>
        <mat-form-field style="margin-right: 16px">
            <mat-label>Ime</mat-label>
            <input matInput formControlName="firstNameFormControl">
        </mat-form-field>

        <mat-form-field style="margin-right: 16px">
            <mat-label>Prezime</mat-label>
            <input matInput formControlName="lastNameFormControl">
        </mat-form-field>
    </section>

    <section>
        <mat-form-field style="margin-right: 16px">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="emailFormControl">
        </mat-form-field>

        <mat-form-field style="margin-right: 16px">
            <mat-label>Broj mobitela</mat-label>
            <input matInput formControlName="phoneNumberFormControl">
        </mat-form-field>
    </section>

    <section>
        <mat-form-field style="margin-right: 16px">
            <mat-label>Red</mat-label>
            <input matInput formControlName="rowFormControl">
        </mat-form-field>

    </section>

    <p style="margin-top: 16px; margin-left: 8px;">Aktivan: </p>
    <section style="text-align: left; margin-top: 8px; margin-left: 8px;">
        <mat-radio-group aria-label="Aktivan" formControlName="isActiveFormControl">
            <mat-radio-button style="margin-right: 16px" [value]="true">DA</mat-radio-button>
            <mat-radio-button [value]="false">NE</mat-radio-button>
        </mat-radio-group>
    </section>


    <button mat-raised-button color="primary" style="margin-right: 8px; margin-top: 16px" (click)="addNewPlayer()">Dodaj
        igrača</button>

</form>