<div class="component-name">
    Prijava
</div>

<mat-divider></mat-divider>

<div class="container" style="margin-top: 8px">
    <section>
        <mat-form-field>
            <input type="text" matInput placeholder="Korisničko ime" [(ngModel)]="username">
        </mat-form-field>
    </section>
    <section>
        <mat-form-field>
            <input type="password" matInput placeholder="Lozinka" [(ngModel)]="password">
        </mat-form-field>
    </section>
    <section>
        <button mat-raised-button color="primary" style="margin-right: 8px" (click)="checkLogin()">
            Login
        </button>
    </section>
</div>