<table style="width: 80%; margin-top: 16px">
    <tr>
        <td class="description-column">
            <label>Broj telefona:</label>
        </td>
    </tr>
    <tr>
        <td class="description-column">
            {{player.phoneNumber}}
        </td>
        <td class="description-column">
            <button mat-icon-button (click)="callOnPhone()">
                <mat-icon style="margin-right: 8px">call</mat-icon>Nazovi
            </button>
        </td>
    </tr>
    <tr>

        <td class="description-column">
            <label>E-mail</label>
        </td>
    </tr>
    <tr>
        <td class="description-column">
            {{player.userMail}}
        </td>
        <td class="description-column">
            <button mat-icon-button (click)="sendEmail()">
                <mat-icon style="margin-right: 8px">email</mat-icon>Pošalji
            </button>
        </td>
    </tr>

</table>