<table>
  <tr>
    <td class="description-column">
      Trenutni red
    </td>
    <td class="description-column">
      {{currentRow}}
    </td>
  </tr>
  <tr>
    <td class="description-column">
      Status
    </td>
    <td class="description-column">
      {{status}}
    </td>
  </tr>
  <tr>
    <td class="description-column">
      Protivnik
    </td>
    <td class="description-column">
      <a (click)="navigateToPlayer(opponent.id)">{{opponent?.firstName}} {{opponent?.lastName}}</a>
    </td>
  </tr>
  <tr>
    <td class="description-column">
      Kolo
    </td>
    <td class="description-column">
      {{currentMatch?.round.roundDescription}}
    </td>
  </tr>
</table>

<mat-divider style="margin-top: 16px; margin-bottom: 8px;"></mat-divider>

<mat-form-field>
  <mat-label>Odabir sezone</mat-label>
  <mat-select [compareWith]="compareObjects" [(ngModel)]="currentSeason">
    <mat-option *ngFor="let season of allSeasons" [value]="season" (click)="showMatchesForSeason(season)">
      {{season.seasonName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

<div class="played-match" *ngFor="let match of playerSeasonMatches" [ngStyle]="styleMatch(player?.id, match)">
  <div *ngIf="match.matchPlayed" style="padding: 4px">
    <table>
      <tr *ngIf="match.round.roundNumber === 0">
        {{match.matchDate | date:'dd.MM.yyyy.'}}
      </tr>
      <tr style="font-size: 10px">
        {{match.round.roundDescription}}
      </tr>
      <tr>
        <a (click)="navigateToPlayer(match?.playerRowAttacker.id)">
          ({{match?.challengerRow}}) {{match?.playerRowAttacker.firstName}} {{match?.playerRowAttacker.lastName}}</a> :
        <a (click)="navigateToPlayer(match?.playerRowDefender.id)">
          {{match?.playerRowDefender.firstName}} {{match?.playerRowDefender.lastName}} ({{match?.defenderRow}})
        </a>
      </tr>
      <tr>{{match?.setFirst}} {{match?.setSecond}} {{match?.setThird}}</tr>
    </table>
  </div>
</div>