.title-div {
    text-align: center; 
    background-color: #3f51b5; 
    color: white; 
    border-radius: 3px; 
    /*opacity: 80%;*/
    padding-left: 16px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.name {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.icons {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.set-result {
    margin: 8px;
    width: 70px;
}

.input-result {
    margin: 8px;
    width: 30px;
}

.player-select {
    margin: 8px;
}

.date-input {
    margin: 8px;
    width: 120px;
}

.component-name {
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
}