<div *ngIf="spinnerOn"></div>

<div *ngIf="!spinnerOn">
    <table class="players-table">
        <tr>
            <div class="header-div">
                <div class="player-name-header">
                    Naziv
                </div>
                <div class="row-header">
                    Red
                </div>
                <div class="row-header">Aktivan</div>

            </div>
        </tr>
        <tr *ngFor="let player of allPlayers" style="border-bottom: 1px solid lightgray">
            <div class="data-row">
                <div class="player-name">
                    {{player.lastName}} {{player.firstName}}
                </div>
                <div class="player-row">
                    {{player.playerStats.currentRow}}.
                </div>
                <mat-icon [ngStyle]="isPlayerActive(player.active)">fiber_manual_record</mat-icon>

                <div class="edit-button-div">
                    <a class="edit-player" (click)="modifyPlayerDialog(player)">Uredi</a>
                </div>
            </div>
        </tr>
    </table>
</div>