a {
    color: black;
    cursor: pointer;
}

.edit-player {
    background: #3f51b5;
    color: white;
    padding: 2px;
    border-radius: 50px;
    padding-left: 8px;
    padding-right: 8px;
}

.players-table {
    width: 100%;
}

.header-div {
    padding-top: 2px; 
    padding-bottom: 2px; 
    display: flex; 
    border-bottom: 1px solid lightgray; 
    background-color: lightgray; 
    margin-bottom: 4px;
    border-radius: 4px;
}

.player-name-header {
    font-size: 13px; 
    width: 50%; 
    display: inline-block; 
    padding-left: 8px;
}

.row-header {
    font-size: 13px; 
    width: 15%; 
    display: inline-block;
}

.data-row {
    padding-top: 2px; 
    padding-bottom: 2px; 
    display: flex;
}

.data-row:hover {
    background-color: #f2f2f2;
}

.player-name {
    font-size: 13px; 
    width: 50%; 
    display: inline-block; 
    padding-left: 8px;
}

.player-row {
    font-size: 13px; 
    width: 15%; 
    display: inline-block;
}

.edit-button-div {
    font-size: 13px; 
    width: 30%; 
    display: inline-block; 
    text-align: right;
}