<app-spinner *ngIf="spinnerOn"></app-spinner>

<div *ngIf="!spinnerOn">
    <div class="component-name">
        Izmjena podataka igrača
    </div>

    <mat-divider></mat-divider>

    <form [formGroup]="playerFormGroup">
        <section>
            <mat-form-field style="margin-right: 16px">
                <mat-label>Ime</mat-label>
                <input matInput formControlName="firstNameFormControl">
            </mat-form-field>

            <mat-form-field style="margin-right: 16px">
                <mat-label>Prezime</mat-label>
                <input matInput formControlName="lastNameFormControl">
            </mat-form-field>
        </section>

        <section>
            <mat-form-field style="margin-right: 16px">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="userMailFormControl">
            </mat-form-field>

            <mat-form-field style="margin-right: 16px">
                <mat-label>Broj mobitela</mat-label>
                <input matInput formControlName="phoneNumberFormControl">
            </mat-form-field>
        </section>

        <section>
            <mat-form-field style="margin-right: 16px">
                <mat-label>Red</mat-label>
                <input matInput formControlName="rowFormControl">
            </mat-form-field>

        </section>

        <p style="margin-top: 16px">Aktivan: </p>
        <section style="text-align: left; margin-top: 8px;">
            <mat-radio-group aria-label="Aktivan" formControlName="isActiveFormControl">
                <mat-radio-button style="margin-right: 16px" [value]="true">DA</mat-radio-button>
                <mat-radio-button [value]="false">NE</mat-radio-button>
            </mat-radio-group>
        </section>


        <button mat-raised-button color="primary" style="margin-right: 8px; margin-top: 16px"
            (click)="savePlayer()">Spremi</button>

        <button mat-raised-button color="warning" style="margin-right: 8px; margin-top: 16px"
            (click)="closeDialog()">Odustani</button>

    </form>
</div>